.fake-box {
    width: 674px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border: none ;
    padding-inline-start: 15px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 44px;
    border-radius: 22px;
}

.fake-box img {
    position: relative;
    padding-right: 20px;
    width: 24px;
    height: 24px;
}

.material-icons {
    color: #00000077;
}

#keyboard {
    margin-right: 8px;    

}

#search-bar {
    border: none;
    border-right: solid 1px #00000044;
    width: 530px;
    height: 30px;
    position: relative;
    outline: none;
    font-size: 16px;
    margin-left: -700px;
}

.logo-search {
    display: flex;
    width: 750px;
    justify-content: space-around;
    align-items: center;
    height: 65px;
}

.logo {
    width: 92px;
    height: 30px;
    align-self: center;
    /* margin-left: -25px; */
}

.wrapper  {
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    width: 160px;
    cursor: pointer;
}

.wrapper span {
    margin-right: 5px;
}

#clear {
    margin-right: 20px;
}

.profile {
    width: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.nav-apps {
    opacity: .55;
    
}

nav {
    display: flex;
    justify-content: space-between;
}

.categories ul {
    margin-left: 120px;
    display: flex;
    width: 720px;
    justify-content: space-around;
}

.nav-limit {
    position: relative;
    top: -16px;
    width: auto;
    height: 1px;
    background-color: #00000022;
}

.categories ul {
    list-style: none;
    color: #5f6368;
    line-height: 16px;
    font-size: 13px;
    margin-top: 0;
}

.categories li {
    padding: 16px 12px 12px 10px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.active {
    border-bottom: 3px solid blue;
}

.categories img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.active {
    color: #1a73e7;
}

.content {
    display: flex;
    justify-content: space-evenly;
    margin-left: 44px;
}

.content h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.cards {
    display: flex;
    margin-bottom: 40px;
}

.search-card {
    width: 212px;
    height: 304px;
    border: 1px solid #00000044;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.search-card iframe{
    width: 212px;
    height: 120px;
}

.search-card h2 {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    width: 178px;
    height: 110px;
}

.search-card h3 {
    padding: 0;
    margin-bottom: 0;
    margin-left: 10px;
    color: #00000055;
    font-size: 18px;
}

.search-card p{
    margin-top:0;
    padding: 0;
    margin-left: 10px;
    font-size: 18px;
}

.search-card a {
    text-decoration: none;
    color: #1a73e7;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.search-card a:hover {
    text-decoration: underline;
}

.grey-text {
    color: #000000aa;
}

header {
    width: 400px;
}

.search-content {
    width: 600px;
    margin-bottom: 30px;
}

.search-content a:visited {
    text-decoration: none;
    color: #1a73e7; 
}

.search-content h1 {
    font-size: 20px;
    margin-top: 0px;
}

.search-content p  {
    margin-bottom: 0px;
}

.material-icons.star {
    color: #F6B910;
    font-size: 14px;
    margin: 0px -3px;
}

.greyish-text {
    color: #70757a;
}

.wiki {
    width: 454px;
    height: 875px;
    border: solid 1px #5f6368;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.wiki-images {
    display: flex;
    height: 186px;
    justify-content: space-between;
    margin-top: 6px;

}

.ps4-disk {
    width: 186px;
}

.more-images {
    width: 268px;
}

.wiki-title {
    margin-left: 10px;
}

.wiki-headline {
    display: flex;
    width: 420px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 15px;
    height: 40px;
}

.wiki-headline h1 {
    font-family: sans-serif;
    font-weight: 200;
} 

.wiki-title h3 {
    margin-top: 5px;
    font-size: 14px;
    color:#70757a;
}

.wiki-header-limit {
    border-top: 1px solid #00000022;
    width: 100%;
    margin-top: 10px;
}

.wiki-info {
    list-style: none;
    margin: 5px 0 15px -23px;
}

.wiki-info li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    line-height: 1.58;
    font-size: 14px;
}

.bold {
    font-weight: bolder;
}

.wiki-info a {
    color: #1a73e7;
}

.search-small-cards img {
    margin-left: -7px;
}

.search-small-cards  {
    display: flex;
    width: 460px;
    justify-content: space-evenly;
    
}

ul.search-small-cards  {
    padding: 0;
    margin-top: 0;
}

.search-small-cards li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 72px;
}

.search-small-cards p {
    margin: 0;
    color: #70757a;
}

.search-small-cards a {
    color: #1a73e7;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.wiki-small-cards h3 {
    margin: 0 0 5px 15px;
}

.itens-pesquisados h3 {
    margin: 0 0 5px 15px;
}

.itens-pesquisados ul {
    width: 300px;
    justify-content: space-evenly;
}
